.itemsList-ul {
  list-style-type: none;
}

.itemsList-ul li {
  padding: 5px;
}

.removeItem {
  cursor: pointer;
  padding: 5px;
  color: red;
}

.markAsComplete {
  cursor: pointer;
}

.markAsComplete.complete {
  text-decoration: line-through;
}

.markAsComplete.incomplete {
  text-decoration: none;
}